
div.header {
  background-color: #680000;
  text-align: center; 
  color: white;
  min-height: 200px;
  width: 100%;
  display: block;
  top: 0;
  padding: 3em;
}

 div.main-message {
  text-align: center;
  margin-top: 5em;
} 

 div.login-container {
  padding-top: 3em;
  color: white;
  font-weight: bold;
} 

div.button-wrapper {
  min-width: 100px;
  max-width: 200px;
  text-align: center;
}

button.btn-login {
  background-color: #008418;  
}

button.btn-login:hover {
  background-color: #00510f;
  color: white;  
}