<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
  <title>Availability for User</title>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" />
  <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.js"></script>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id = "availability" ng-app="app">

    <div class="container" ng-controller="matchingCtrl">
      <div class="ui raised segment">
        <div class="ui two column centered grid page-header middle aligned content">
          <h1>When Are You Available?</h1>
        </div>
      </div>
          <br/>
      <br/>

      <div class="ui centered aligned grid two column">
        <div class="ui form">
          <div class="row">
            <div class="fields centered aligned column"> 
              <div class="field column">
                <label><font color="white">Start Date</font></label>
                <div class="ui calendar" id="rangeStart">
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Start" id="inputStart" ng-model="inputStart">
                  </div>
                </div>
              </div>

              <div class="field column">
                <label><font color="white">End Date</font></label>
                <div class="ui calendar" id="rangeEnd">
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="End" id="inputEnd" ng-model="inputEnd">
                  </div>
                </div>
              </div>
              <div class="field column">
                <button id = "add-button" class="ui button" id="addThisAvailability" ng-click="add()">Add This Availability</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="message"></div>
      <div class="row" ng-show="fadeIn">
        <div class="message ui centered aligned column"></div>
      </div>

      <br/>
      <br/>

      <div class="row">
        <div class="ui centered aligned grid two column">
          <button id = "submit-button" class="ui green submit button" ng-click="submitMatches()">Submit Availability</button>
        </div>
      </div>
      <div class="row"
      ng-repeat="time in availability">

          <p>
          {{ time }}
          </p>

      </div>
      <div class="row" ng-show="matches">
        <ul>
          
        
          Matches:
          <li>Interviewer: {{ interviewer }}</li>
          <li>Interviewee: {{ interviewee }}</li>
          <li>Starting time: {{ starting }}</li>
          <li>Topic: {{ topic }} </li>
          <li>Lingua: {{ lingua }} </li>
          <li>Programming language: {{ langInterview }}</li>
      
        </ul>
      </div>

    </div>
  </div>


  <script src="js/angular/angular.min.js"></script>
  <script src="index.js"></script>
  <script src="js/matchingCtrl.js"></script>
</body>
</html>